@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 100vh;
} */
.show-links {
  height: 18.37rem;
  transition: all linear 0.3s;
}
